html {height: 100%;}

body {
    background-color: #fafafa;
    color: #252525;
    font-size: 14px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

p {font-size: 1.3em;}
h1 {font-size: 1.4em; font-weight: 700;}
h2 {font-size: 1.1em; font-weight: 300;}

#social i {
    font-size: 2.2em;
}

#mobile-nav .navbar {
    border-top: none ;
    border-bottom: none ;
}

#desktop-nav {
    border-top: 1px solid #999999 !important;
    border-bottom: 1px solid #999999 !important;
}

.bg-light {background-color: #fafafa !important;}
.bg-pink {background-color: #FCE8E9 !important;}
.bg-gold {background-color: #c0a980 !important;}
.text-light-gold {color: #c0a980 !important}
.text-gold {color: #a68a4b !important;}
.bg-blue {background-color: #d1dee4 !important;}

.avatar {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

#grid {
    /*margin-top: -120px; */
}

#about {
    margin-top: 50px;
    margin-bottom: 50px;
    /* padding-top: 100px;
    margin-top: -100px;
    padding-bottom: 100px; */
}

#about p {
    font-weight: 300;
    color: #948686;
}

#about a {
    color: #948686;
}

#about p strong {
    font-weight: 700;
}

#about h3 {
    font-size: 1.6em;
    font-weight: 500;
}