@charset "UTF-8";

small a{color:#000;}

html {height: 100%;}
body {
    background-color: #fafafa;
    color: #7A7A7A;
    font-size: 14px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

a {color: #a68a4b; transition: 0.3s;}
a:hover {color: #bd9c50;}
p {font-size: 1.3em;}
h1 {font-size: 1.4em; font-weight: 700;}
h2 {font-size: 1.1em; font-weight: 300;}
.text-primary{font-size: 2.4em; font-weight: 700; color: #222222 !important;}
.text-secondary{font-size: 1.2em; font-weight: 300; color: #222222 !important;}

#social i {font-size: 2.2em;}
#social a:hover {color: #bd9c50;}

#mobile-nav .navbar {
    border-top: none ;
    border-bottom: none ;
}

#desktop-nav {
    border-top: 1px solid #acacac !important;
    border-bottom: 1px solid #acacac !important;
}

.bg-light {background-color: #fafafa !important;}
.bg-pink {background-color: #FCE8E9 !important;}
.bg-gold {background-color: #c0a980 !important;}
.text-light-gold {color: #CBB897 !important}
.text-gold {color: #a68a4b !important;}
.bg-blue {background-color: #d1dee4 !important;}
.btn-success {background-color: #FEEDDD; color: #7A7A7A; border: none; transition: .3s;}
.btn-success:hover {background-color: rgb(255, 231, 208); color: rgb(109, 108, 108);}
.btn-secondary {background-color: #D8E2EC; color: #7A7A7A; border: none; transition: .3s;}
.btn-secondary:hover {background-color: rgb(207, 221, 235); color: rgb(109, 108, 108);}
.btn-outline-success {border: 1px solid #c0a980; color: #c0a980;}
.btn-outline-success:hover{background-color: #c0a980; color: #fafafa; border: 1px solid #c0a980;}
.boton-success {display:block; background-color: #FEEDDD; color: #7A7A7A; border: none; transition: .3s;}
.boton-success:hover {display:block; background-color: rgb(255, 231, 208); color: rgb(109, 108, 108);}
.boton-secondary {display:block; background-color: #D8E2EC; color: #7A7A7A; border: none; transition: .3s;}
.boton-secondary:hover {display:block; background-color: rgb(207, 221, 235); color: rgb(109, 108, 108);}

.avatar {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.navbar a {
    color: #7A7A7A;
}

.navbar-toggler {
    border-color: #c0a980 !important;
}

#about {
    margin-top: 30px;
    margin-bottom: 30px;
    /* padding-top: 100px;
    margin-top: -100px;
    padding-bottom: 100px; */
}

#about p {
    font-size: 1.1em;
    font-weight: 300;
    color: #948686;
}

#about a {
    color: #948686;
}

#about p strong {
    font-weight: 700;
}

#about h3 {
    font-size: 1.6em;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    h1 {font-size: 1em;}
    h2 {font-size: 0.9em;}
    
    #about p {
        font-size: 0.9em;
    }

    #about {
        margin: 10px 0;
    }

    .navbar i {font-size: 0.7em;}
    .navbar small {font-size: 65%;}

    #social i {font-size: 1.3em;}

    footer span {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 375px) {
    .boton-success, .boton-secondary {font-size: 0.8em;}
}

@media screen and (max-width: 767px) {
    body {font-size: 0.8em;}
    .text-primary{font-size: 2em;}
    .text-secondary{font-size: 1.2em;}
}